fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
cryptography
python-jose[cryptography]
pwdlib[bcrypt]
python-multipart
pydantic
pydantic-settings
pydantic[email]
python-dotenv
pytest
pytest-asyncio
httpx
